* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  align-items: center;
  width: 210px;
  height: 210px;
}
.fullSize {
  background-color: turquoise;
  border: 1px solid turquoise;
}
.midSize {
  background-color: pink;
  border: 1px solid pink;
  transform: scale(0.6);
}
.smallSize {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  padding: 35px;
  transform: scale(0.3);
}

.empty {
  background-color: white;
  border: 1px solid beige;
  transform: scale(0.1);
}
.cell {
  padding: 35px;
  transition: transform 0.4s ease-in-out;
  justify-self: center;
}
